[unit]
Description = uWSGI Service
After = syslog.target

[Service]
ExecStart =/home/40451077/.local/bin/uwsgi --emperor /home/40451077/SET09103-Coursework/vassals/deploy.ini
RuntimDirectory = uwsgi
Restart = always
killSignal = SIGQUIT
Type = notify
StandardError = syslog
NotifyAccess = all

[Install]
WantedBy = multi-user.target