<!doctype html>
<html lang="en">

<head>
    
  <meta charset="utf-8">
  <meta name="author" content="Ewan Robertson">
  <title>Issue Tracker</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/issue_tracker.css') }}" rel="stylesheet"/>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>

<body class="">

    <header class="bg-dark text-white p-2">
      <div class="container">
        <h1>{{ username }}</h1>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid bg-light">
          <ul class="nav navbar-nav list-group list-group-horizontal p-2">
            <li><a href="{{ url_for('login') }}" class="link">Login</a></li>
            <li><a href="{{ url_for('user', username = username) }}" class="link">{{ username }}</a></li>
            {% if type == 'project' %}
            <li class="active"><a href="{{ url_for('project', username = username, project_id = records[0].project_id) }}" class="link">Project</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main class="container p-2">

      <div class="">
        <div class="bg-light px-4 py-2 my-3 col-8" style="border-style:solid; border-radius:0.5pc;">
          <div>
            <form action="{{ url_for('projects', username = username) }}" method="GET">
              <input type="text" placeholder="Search" name="q"/>
              <button type="submit" class="px-4 py-2 my-3 col-4" style="background-color: #001aff; border-style:solid; border-radius:0.5pc;">Search</button>
            </form>
          </div>
        </div>
        <a class="btn px-4 py-2 my-3 col-4" style="background-color: #1aff00; border-style:solid; border-radius:0.5pc;"
            href="{{ url_for('projects', username = username, action = 'new') }}">New Project</a>
      </div>

      {% if type == 'issues' %}
      <div class="bg-light py-2" style="outline-style:solid; border-radius:0.5pc;">
      {% else %}
      <div class="bg-light py-2 col-8" style="outline-style:solid; border-radius:0.5pc;">
      {% endif %}
        <ul class="list-unstyled">
          {% for record in records %}
            {% if type == 'user' %}
	    <a href="{{ url_for('project', username = username, project_id = record.project_id) }}" class="link container bg-white">#{{record.project_id}} {{record.title}}</a>
            {% else %}
            <a href="{{ url_for('project', username = username, project_id = record.project_id, issue_id = issue_id) }}" class="link container bg-white">{{ record.title }} {{ record.status }} {{ record.priority }}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% if type == 'issues' %}
      <div class="bg-light py-2 col-4" style="outline-style:solid; border-radius:0.5pc;">
        <ul class="list-unstyled">
          <li class="container bg-white">Project ID: #{{ info.project_id }}</li>
          <li class="container bg-white">Version: {{ info.version }}</li>
        </ul>
      </div>
      {% endif %}

    </main>

    <footer class="container">
    </footer>

</body>
