<!doctype html>
<html lang="en">

<head>
    
  <meta charset="utf-8">
  <meta name="author" content="Ewan Robertson">
  <title>Issue Tracker</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/issue_tracker.css') }}" rel="stylesheet"/>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>

<body class="">

    <header class="bg-dark text-white p-2">
      <div class="container">
        <h1>{{ type }}</h1>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid bg-light">
          <ul class="nav navbar-nav list-group list-group-horizontal p-2">
            <li><a href="{{ url_for('login') }}" class="link">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container p-2">
      {% if type is "login" %}
      <form method="POST" action="{{ url_for('login') }}">
      {% else if type is "new user" %}
      <form method="POST" action="{{ url_for('new_user') }}">
      {% else %}
      <form method="POST" action="{{ url_for('username', username = username) }}">
      {% endif %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        {% if type is "change password"}
        <input type="password" name="new_password" placeholder="New Password" required>
        {% endif %}
        <input type="submit">
      </form>
      {% if type is "login" %}
      <a href="./new-user" class="btn btn-light py-2">New User</a>
      {% endif %}
    </main>

    <footer class="container">
    </footer>

</body>
